<div class="d-flex flex-column align-items-center mt-5">
    <h2>Choose your rol:</h2>
    <select name="rol" id="rol-select">
        <option value="user">User</option>
        <option value="premium">Premium</option>
    </select>
    <button class="btn btn-secondary my-3" onclick="changeRol('{{uid}}')">Change</button>
</div>

<script src="/../static/js/changeRol.js"></script>