<div>
    <form action="">
        <h2>Chat</h2>
        <h2>Role:</h2>
        <h3 id="roleH3">{{role}}</h3>
        <label for="mail">E-mail</label>
        <input type="text" name="mail" id="mail-id">
        <label for="message">Message</label>
        <input type="text" name="message" id="message-id">
        <input type="submit" id="submit-button2">
    </form>
</div>

<div id="c-c">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="static/js/chat.js"></script>