<div>
    <h1>Iniciar sesion</h1>
    <form method="POST" action="http://localhost:8080/session/login">
        <label for="username">Nombre: </label>
        <input type="text" name="username">
        <br>
        <label for="password">Password: </label>
        <input type="text" name="password">
        <br>
        <input type="submit">
    </form>
</div>