<div>
    <button class="btn btn-secondary m-1" onclick="log('Debug')" >Debug</button>
    <button class="btn btn-secondary m-1" onclick="log('Http')" >Http</button>
    <button class="btn btn-secondary m-1" onclick="log('Info')" >Info</button>
    <button class="btn btn-secondary m-1" onclick="log('Warning')" >Warning</button>
    <button class="btn btn-secondary m-1" onclick="log('Error')" >Error</button>
    <button class="btn btn-secondary m-1" onclick="log('Fatal')" >Fatal</button>
</div>

<script src="../static/js/logger.js"></script>