<div>
    <h1>Cookies Actividad en clase</h1>
    <form action="" id="cookieForm">
        <label for="email">Email: </label>
        <input type="text" name="email">
        <br>
        <label for="password">Password: </label>
        <input type="text" name="password">
        <br>
        <input type="submit">
    </form>
    <button onclick="getCookie()">getCookie</button>
</div>

<script src="../static/js/login.js"></script>