<div class="d-flex my-4 flex-column align-items-center">
    <h2>Old Password</h2>
    <input type="text" id="old-pass-id">
    <h2>New Password</h2>
    <input type="text" id="new-pass-id">
    <h2>Confirm New Password</h2>
    <input type="text" id="new-pass-id-2">
    <button class="btn btn-secondary m-1" id="button-send" onclick="reset('{{mail}}')">Confirm</button>
</div>

<script src="../../static/js/passRes.js"></script>