<div class="d-flex flex-column align-items-center my-4">

    <h1>Registro</h1>

    <form class="d-flex flex-column align-items-center" action="/session/register" method="post">

        <label>Nombre</label>

        <input name="first_name">

        <label>Apellido</label>

        <input name="last_name">

        <label>Email</label>

        <input name="email">

        <label>Contraseña</label>

        <input name="password">

        <label>Edad</label>

        <input type="number" name="age">

        <label>Teléfono</label>

        <input name="phone">

        <input class="btn my-3 btn-secondary" type="submit">

    </form>

</div>